{#
metrics
Snapmirror next resync duration prediction metric (sec)
#}

{% for sm in snapmirror_stats %}
sm_next_resync_forecast_min{datacenter="{{ snapmirror_stats[sm].dc }}",cluster="{{snapmirror_stats[sm].source_cluster}}",volume_uuid="{{ snapmirror_stats[sm].source_volume_uuid }}",source_volume="{{ snapmirror_stats[sm].source_volume_name }}",source_svm="{{ snapmirror_stats[sm].source_svm_name }}"} {{ ((snapmirror_stats[sm].delta_size / (snapmirror_stats[sm].bytes_transferred / snapmirror_stats[sm].total_duration)) / 60) | int}}
{% endfor %}